.bigger-container {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body, html {
  padding: 0;
  margin: 0;
  min-height: 100% !important;
  height: 100%;
}
.small-container {
  background-color: #FF9A3D;
  padding: 30px;
  padding-bottom: 100px;
  padding-top: 70px;
  border-radius: 40px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-container {
  width: 700px;
}

.joinBtn {
  bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px; 
  background-color: #F6F5F8;
  color: #FF9A3D;
}

/*for create*/
input[id^="company"] {
  padding-top: 20px !important;
  font-size: 26px !important;
  letter-spacing: 1px !important;
  font-weight: 400 !important;
  vertical-align: bottom;
  padding-bottom: 5px !important;
  width: 500px !important;
  /*height: 100px !important;*/
}

/*for code*/
input[id^="code"], input[id^="company"] {
  height: 50px;
  border: none;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-bottom: 2px solid #A4672F;
  background-color:#FF9A3D;
  color: #996434;
  width: 240px;
  letter-spacing: 10px;
  padding-bottom: 10px;
}
input[id^="code"]:focus,  input[id^="company"]:focus{
  outline:0;
}
input[id^="code"]:focus::placeholder, input[id^="company"]:focus::placeholder {
  color: #FF9A3D;
}
input[id^="code"]::-webkit-input-placeholder, input[id^="company"]::-webkit-input-placeholder { 
  color: #D67C29;
}
input[id^="code"]:-ms-input-placeholder, input[id^="company"]:-ms-input-placeholder { 
  color: #D67C29;
}
input[id^="code"]::placeholder, input[id^="company"]::placeholder {
  color: #D67C29;
}

.slantImg {
  top:56%;
  right: 0px;
}